body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #0056b3;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.btn {
  background-color: #28a745;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Estilo da seção hero */
.hero {
    background-color: #003366;
    color: #fff;
    padding: 50px 0;
    position: relative;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 60%;
}

.hero-image {
    max-width: 35%;
}

.hero-image img {
    width: 100%;
    height: auto;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero-text, .hero-image {
        max-width: 100%;
    }

    .hero-image {
        margin-top: 20px;
    }
}


.search-box input[type="text"],
.search-box input[type="date"] {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

.search-box button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

/* Estilo da seção locations */
.locations {
    background-color: #fff;
    padding: 40px 0;
}

/* Estilo dos cartões */
.location-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.location-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.location-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.location-card p {
    font-size: 1rem;
    color: #666;
}

/* Grid para dispor os cartões */
.locations .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* duas colunas */
    gap: 20px; /* espaçamento entre os itens */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .locations .container {
        grid-template-columns: 1fr; /* em telas menores, as colunas ficam uma embaixo da outra */
    }
}

.promo {
  background-color: #e8e8e8;
  padding: 40px 0;
  text-align: center;
}

.promo h2 {
  color: #0056b3;
}

.promo span {
  color: #28a745;
}

footer {
  background-color: #0056b3;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
